$time:0.3s; 

$m100: MuseoSansCyrl100;
$m300: MuseoSansCyrl300;
$m500: MuseoSansCyrl500;
$m700: MuseoSansCyrl700;
$m900: MuseoSansCyrl900; 
$code: CodePro; 

$white: #fff;
$darck: #3C3B37;
$l_darck: #53524e;
$l_gray:#F3F2F1;
$grey: #333;




